<%- partial('_partial/head') %>
<body>
	<!-- header -->
  <%- partial('_partial/header') %>
  
  <!-- main -->
  <div class="md-content__wrapper">
	  <!-- main -->
	  <main class="md-main">
	    <%- body %>
	  </main>
  </div>
  
  <!-- js scripts -->
  <%- partial('_partial/after-footer') %>
</body>
</html>
