.display-animation 
	>.md-post
		transform: scale(0)
	
	>.animated 
		animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards

$keyframe-display = display
@keyframes ($keyframe-display)
	from
		transform: scale(0)
	to
		transform: scale(1)
 
.md-posts__wrapper
	display: flex
	flex-direction: column
	
.md-posts__year
	font-size: 20px
	padding: spacing*2 spacing*3
	
	a
		text-decoration: none
		color: secondary-text
		
		i
			font-size: 24px
			margin-right: spacing*2

.md-posts
	display: flex
	flex-direction: row
	flex-wrap: wrap;

.md-posts__paginator
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	padding: spacing*2 spacing
	
	> .page-number
		height: 25px
		width: 25px
		color: rgba(0,0,0,.5)
		transition: color 2s
		cursor: pointer
		line-height: 25px
		font-size: 16px
		text-decoration: none
		display: flex
		justify-content: center
		margin: 0 (spacing/2)
		&:hover
			color: rgba(0,0,0,1)
			transition: color 2s
	
	> .current
		background: primary-color
		border-radius: 50%;
		color: white;
	
	> .extend
		text-decoration: none
		font-size: 20px
		color: primary-color
		margin: 0 spacing
		
